*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: #080812;
  font-family: Lucida Console;
  height: 100%;
}
/*body img{
  transition: 2s;
}
body img:hover{
  background-image: url(https://icon2.cleanpng.com/20180320/oaq/kisspng-computer-icons-youtube-play-button-clip-art-icon-png-play-button-5ab1113388a855.8771330715215537155598.jpg);
}*/
/*HEADER*/
header{
  background-color: #262626;
  width: 100%;
  height: 80px;
  float: right;
  position: fixed;
  z-index: 100;
  top: 0;
}
#upgrade{
  background-color: #262626;
  color: white;
  border: 1px solid white;
  border-radius: 15px;
  padding: 5px;
  float: right;
  margin-top: 10px;
  font-size: 10px;
}
/*MAIN*/
main{
  height: 100vh;
}
/*black box*/
@media all and (max-width: 767px) {
  #spotify-black-box p, h4, li{
    display: none;
  }
}
#spotify-black-box{
  background-color: black;
  width: 200px;
  height: 100%;
  position: fixed;
  z-index: 130;
  float: left;
  top: 0;
}
.blocco-due{
  float: left;
}


#riga{
  width: 150px;
  border-bottom: 2px solid white;
  margin: 0 auto;
  padding-top: 10px;
}
#spotify-logo{
  width: 150px;
  padding-left: 20px;
  padding-top: 10px;
}
.logos{
  width: 40px;
  padding-left: 20px;
  padding-top: 10px;
}
#spotify-black-box p{
  color: #737373;
  display: inline-block;
  padding-left: 10px;
  transform: translate(0, -5px);
}
#spotify-black-box h4{
  color: white;
  padding-left: 20px;
  padding-top: 30px;
}
#spotify-black-box i{
  color: #737373;
  font-size: 40px;
  padding-left: 20px;
  padding-top: 10px;
}
#spotify-black-box ul li{
  padding-left: 10px;
  padding-top: 20px;
}

/*playlist menu*/
#playlist-menu{
  width: calc(100% - 200px);
  margin-top: 80px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}
#playlist-menu ul li{
  display: inline-block;
  font-size: 10px;
  color: white;
}
/*playlist iniziale*/
@media all and (max-width: 992px) {
  .playlist-iniziale{
  flex-wrap: wrap;
  }
}

.titolo{
  color: white;
}
.playlist-iniziale, .playlist-centrale, .playlist-finale{
  display: flex;
  padding-top: 15px;
}
.playlist-iniziale{
  width: calc(100% - 200px);

  justify-content: space-around;
}
.playlist-iniziale img, .playlist-centrale img, .playlist-finale img{
  width: 150px;
}

.img-playlist h4{
  color: white;
  font-size: 10px;
  text-align: center;
}
.img-playlist p{
  color: #737373;
  font-size: 7px;
  text-align: center;
}

/*playlist centrale*/
.titolo-centrale p{
  color: #737373;
  font-size: 10px;
}
.titolo-centrale{
  color: white;
  padding-top: 50px;
}
.playlist-centrale > .img-playlist{
  margin-right: 10px;
}

/*central-content*/
.central-content{
/*  width: calc(100% - 200px);*/
margin-left: 250px;
margin-bottom: 200px;
}
/*playlist finale*/
.playlist-finale > .img-playlist{
  margin-right: 10px;
}
.playlist-finale{
 display: flex;
}
.playlist-finale img{
  border-radius: 50%;
}
/*footer-player*/
#footer-player{
width: 100%;
height: 80px;
background-color: #404040;
position: fixed;
z-index: 999;
display: flex;
justify-content: space-between;
align-items: center;
bottom: 0;
}

#footer-player img{
  width: 50px;
}
#brano{
  display: inline-block;
  transform: translate(0, -10px);
}
h5{
  color: white;
}
h6{
  color: #737373;
}
#icon{
  display: inline-block;
  transform: translate(0, -10px);
  padding-left: 50px;
}
#icon i{
padding-right: 20px;
color: #737373;
}
#barra{
  width: 400px;
  border-bottom: 3px solid white;
  display: inline-block;
}
.player-icon{
  text-align: center;
  color: white;
  font-size: 20px;
}
.player-icon i{
  margin-left: 10px;
}
.player-icon span{
  font-size: 10px;
}
#volume{
  width: 100px;
  border-bottom: 3px solid white;
  display: inline-block;
}
.volume-icon i{
  color: white;
  font-size: 12px;
  padding-left: 10px;
}
.flex-item{
  padding-left: 20px;
  padding-right: 20px;
}
