*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: #333333;
  font-family: Lucida Console;
}

/*HEADER*/
header{
  background-color: #262626;
  width: 100%;
  height: 80px;
  float: right;
  position: fixed;
  z-index: 100;
}
#upgrade{
  background-color: #262626;
  color: white;
  border: 1px solid white;
  border-radius: 15px;
  padding: 5px;
  float: right;
  margin-top: 10px;
  font-size: 10px;
}
/*MAIN*/
/*black box*/
#spotify-black-box{
  background-color: black;
  width: 200px;
  height: 800px;
  position: fixed;
  z-index: 150;
  display: flex;
  flex-direction: column;
}
.flex-item-black{
 align-content: flex-end;
}

#riga{
  width: 150px;
  border-bottom: 2px solid white;
  margin: 0 auto;
  padding-top: 10px;
}
#spotify-logo{
  width: 150px;
  padding-left: 20px;
  padding-top: 10px;
}
.logos{
  width: 40px;
  padding-left: 20px;
  padding-top: 10px;
}
#spotify-black-box p{
  color: #737373;
  display: inline-block;
  padding-left: 10px;
  transform: translate(0, -5px);
}
#spotify-black-box h4{
  color: white;
  padding-left: 20px;
  padding-top: 30px;
}
#spotify-black-box i{
  color: #737373;
  font-size: 40px;
  padding-left: 20px;
  padding-top: 10px;
}
#spotify-black-box ul li{
  padding-left: 10px;
  padding-top: 20px;
}
/*playlist menu*/
#playlist-menu{
  width: calc(100% - 200px);
  float: left;
  margin-top: 80px;
  margin-left: 600px;
  height: 100%;
}
#playlist-menu ul li{
  display: inline-block;
  font-size: 10px;
  color: white;
}
/*playlist iniziale*/
.titolo{
  color: white;
  padding-top: 150px;
  margin-left: 250px;
}
.playlist-iniziale, .playlist-centrale, .playlist-finale{
  display: flex;
  float: left;
  padding-top: 15px;
  margin-left: 250px;
  width: 100%;
}
.playlist-iniziale img, .playlist-centrale img, .playlist-finale img{
  width: 200px;
}
.img-playlist{
  justify-content: flex-end;
}
.img-playlist h4{
  color: white;
  font-size: 13px;
  text-align: center;
}
.img-playlist p{
  color: #737373;
  font-size: 10px;
  text-align: center;
}

/*playlist centrale*/
.titolo-centrale p{
  color: #737373;
  font-size: 10px;
}
.titolo-centrale{
  color: white;
  margin-top: 250px;
  margin-left: 250px;
  padding-top: 50px;
}
.playlist-centrale{
  display: flex;
}

/*playlist finale*/
.playlist-finale{
 display: flex;
}
.playlist-finale img{
  border-radius: 50%;
}
/*footer-player*/
#footer-player{
  width: 100%;
  height: 100px;
  background-color: grey;
  float: right;
}
